@{
    ViewBag.Title = "ResetPassword";
}
<style>
    [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
    }
</style>
<section class="container g-py-100 g-bg-secondary" ng-controller="resetController as resetCtrl">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6 ">
            <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30 g-bg-white">
                <header class="text-center mb-4">
                    <h2 class="h2 g-color-black g-font-weight-600">Reset Password</h2>
                </header>
                <!-- Form -->
                <form class="g-py-15" name="resetForm" novalidate>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 mb-4">
                            <div class="input-group">
                                <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-primary">
                                    <i class="icon-media-094 u-line-icon-pro g-pos-rel g-top-2 g-px-5"></i>
                                </span>
                                <input ng-model="resetCtrl.resetForm.password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/" ng-minlength="6" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded-0 g-py-15 g-px-15" name="password" type="password" placeholder="New Password" required>
                            </div>
                            <span ng-show="resetForm.password.$error.minlength && !resetForm.password.$pristine" ng-cloak style="color:red">Required: at least 1 letter & number and more than 6 characters</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 mb-4">
                            <div class="input-group">
                                <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-primary">
                                    <i class="icon-media-094 u-line-icon-pro g-pos-rel g-top-2 g-px-5"></i>
                                </span>
                                <input ng-model="resetCtrl.confirmPassword" password-verify="{{resetCtrl.resetForm.password}}" ng-minlength="6" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded-0 g-py-15 g-px-15" name="confirmPassword" type="password" placeholder="Confirm Password" required>
                            </div>
                            <span ng-show="resetForm.confirmPassword.$error.minlength && !resetForm.confirmPassword.$pristine" ng-cloak style="color:red">Confirm Same Password</span>
                        </div>
                    </div>
                    <button class="btn btn-md btn-block u-btn-primary rounded-0 g-py-15 mb-5" type="button" ng-disabled="resetForm.$invalid" ng-click="resetCtrl.resetPassword()">Reset Password</button>
                    <!-- Success Alert -->
                    <div ng-show="resetCtrl.success" ng-cloak class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="media">
                            <span class="d-flex mr-2 g-mt-5">
                                <i class="fa fa-check-circle-o"></i>
                            </span>
                            <div class="media-body">
                                <strong>Great!</strong> Password changed.
                            </div>
                        </div>
                    </div>
                    <!-- End Success Alert -->
                    <!-- Danger Alert -->
                    <div ng-show="resetCtrl.error" ng-cloak class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="media">
                            <span class="d-flex mr-2 g-mt-5">
                                <i class="fa fa-minus-circle"></i>
                            </span>
                            <div class="media-body">
                                <strong>Error!</strong> Please retry the link in your email address or try the forgot password page.
                            </div>
                        </div>
                    </div>
                    <!-- Danger Alert -->
                </form>
                <!-- End Form -->
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/Scripts/Auth/ResetPwCtrl.js"></script>
    <script src="~/Scripts/Auth/AuthService.js"></script>
}