
@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_1.cshtml";
}

@model Memeni.Models.ViewModels.ItemViewModel<int>
<div ng-controller="configDataManageController as dataManageCtrl">
    <input type="hidden" value="@Model.Item" id="modelId" />

    <form name="configForm" class="form-horizontal col-md-6">
        <div class="space-15"></div>
        <div class="row">
            <button ng-click="dataManageCtrl.backBtn()" name=".postConfigSettings" class="btn btn-primary btn-sm">Back to Index</button>
        </div>
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="displayName">Display Name</label>
                <input ng-model="dataManageCtrl.storeConfigData.displayName"
                       id="displayName"
                       name="displayName"
                       type="text"
                       class="form-control input-md"
                       @*required*@ />
                @*<p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">valid settings of form </p>*@
            </div>
            <div class="form-group">
                <label class="control-label" for="description">Description</label>
                <input ng-model="dataManageCtrl.storeConfigData.description"
                       id="description"
                       name="description"
                       type="text"
                       class="form-control input-md"
                       @*required*@ />
            </div>
            <div class="form-group">
                <label class="control-label" for="modifiedBy">Modified By</label>
                <input ng-model="dataManageCtrl.storeConfigData.modifiedBy"
                       id="modifiedBy"
                       name="modifiedBy"
                       type="text"
                       class="form-control input-md"
                       @*required*@ />
            </div>
            <div class="form-group">
                <button ng-click="dataManageCtrl.submitBtn(configForm.$valid)"
                        ng-disabled="configForm.$invalid"
                        name=".postConfigSettings"
                        class="btn btn-primary btn-sm">
                    Submit
                </button>
                @*<p>{{dataManageCtrl.storeConfigData}}</p>*@
            </div>

        </fieldset>
    </form>
</div>

@section scripts{

    @Scripts.Render("~/bundles/config")
}


