@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_1.cshtml";
}

@model Memeni.Models.ViewModels.ItemViewModel<int>
<div ng-controller="FaqManageController as manageCtrl">
    <input type="hidden" value="@Model.Item" id="modelId" />

    <form name="configForm" class="form-horizontal col-md-6">
        <div class="space-15"></div>
        <div class="row">
            <button ng-click="manageCtrl.backBtn()" name=".postConfigSettings" class="btn btn-primary btn-sm">Back to Index</button>
        </div>
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="title">Title</label>
                <input ng-model="manageCtrl.storeFaq.title"
                       id="Title"
                       name="Title"
                       type="text"
                       class="form-control input-md"
                       required />
                <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">valid settings of form </p>
            </div>
            <div class="form-group">
                <label class="control-label" for="description">Description</label>
                <input ng-model="manageCtrl.storeFaq.description"
                       id="description"
                       name="description"
                       type="text"
                       class="form-control input-md"
                       required />

                <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">a name is reqired</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="displayOrder">DisplayOrder</label>
                <select ng-model="manageCtrl.storeFaq.displayOrder" ng-options="x.displayOrder as x.displayOrder for x in manageCtrl.displayOrders"></select>
            </div>
            <div class="form-group">
                <label class="control-label" for="categoryId">Category Name</label>
                <select ng-model="manageCtrl.storeFaq.categoryId" ng-options="x.id as x.displayName for x in manageCtrl.categories"></select>
            </div>
            <div class="form-group">
                <label class="control-label" for="modifiedBy">Modified By</label>
                <input ng-model="manageCtrl.storeFaq.modifiedBy"
                       id="modifiedBy"
                       name="modifiedBy"
                       type="text"
                       class="form-control input-md"
                       required />

                <p ng-show="configForm.settings.$invalid && !configForm.settings.$pristine">a name is reqired</p>
            </div>
            <div class="form-group">
                <button ng-click="manageCtrl.submitBtn(configForm.$valid)"
                        type="submit"
                        ng-disabled="configForm.$invalid"
                        name=".postConfigSettings"
                        class="btn btn-primary btn-sm">
                    Submit
                </button>
                @*<p>{{manageCtrl.storeFaq}}</p>*@
            </div>

        </fieldset>
    </form>
</div>

@section scripts{

    @Scripts.Render("~/bundles/faq")
<script src="~/Scripts/GenericService.js"></script>
}






